[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
agent_reputation = "5g5vVtid5C6rVfshSQMHpWy7rvWWXrowVUN78UCKkQEj"

[programs.devnet]
agent_reputation = "5g5vVtid5C6rVfshSQMHpWy7rvWWXrowVUN78UCKkQEj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
